body {
    // <uniquifier>: Use a unique and descriptive class name

    .roboto-slab-<uniquifier>font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}

nav {
    display: flex;
    justify-content: end;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.header {
    justify-content: space-between;
    background-color: antiquewhite;
    align-items: center;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-image: url('../images/developer.png');
    background-position: left;
    padding: 0px 50px 30px 150px;


}

.primary {
    color: chartreuse;
}

.start {
    color: #474747;
    font-family: %20%22Open%20Sans%22;
    font-size: 45px;
    font-weight: 600px;
    margin bottom: 0;

}

.myself {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;

}

.banner-content {
    max-width: 700px;
}

.btn-primary {
    border-radius: 5px;
    background: chartreuse;
    border: 0px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.rong {
    display: flex;
}

.banner {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.first-content {
    color: #181818);
    text-align: center;
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 700px;
}

description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px;
}

.about {
    margin: 130px 0px;
    border-radius: 10px;
    background: #FFF8F3;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

.main-info {
    display: flex;
    justify-content: space-around;
}

.nam {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

.porichoy {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

.jonmo {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

.jaega {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}